
<h2>Displaying questions. </h2>
<h5>Don't worry about spaces, capitalization, etc.</h5>

{{#each questions}}
    <div id = "questionbox{{@index}}">
    <br>
    <form id = "submit-form" action="" method="POST">
        Question: {{title}}
    <div class = "answer"> 
    	Answer: <input type="text" placeholder="Type answer here!" name="answer" id="answer{{@index}}" required autofocus /> 
    	<input type="submit" class="submit-answer" data-answer="answer{{@index}}" data-box="questionbox{{@index}}" id="{{_id}}">  
    </div> 
    </form>
    </div>
{{/each}}

